*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background: linear-gradient(-45deg, #8ee9ca, #f08080, #dda0dd, #ffb6c1);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.stopwatch {
    background: linear-gradient(-45deg, #F08080, #FFB6C1, #FF1493, #DDA0DD);
    background-size: 400% 400%;
    animation: gradientFlow 8s ease infinite;

    width: 70%;
    height: 250px;
    max-width: 500px;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.stopwatch h1
{
   
    font-size: 60px;
    font-weight: 100;
    position: absolute;
    top: 36%;
    margin-left: 10%;
   
}
.btn
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn img
{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
    margin-top: 20%;
}
.btn img:nth-child(2){
    width: 80px;
}